<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wether Search</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
<div class="insideDiv">
    <h1>Wehter App</h1>
    <h5>World Weather Report</h5>
    <p>Uses openweathermap API and provides live weather report based on the city you provide.</p>
    <h1>City Name</h1>
       <form action="/data" method="post">
            <input type="text" name="cityName">
            <button type="submit">Search</button>
       </form>
    </div>
</div>
</body>
</html>