*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://images.pexels.com/photos/186980/pexels-photo-186980.jpeg?cs=srgb&dl=pexels-tahir-shaw-186980.jpg&fm=jpg);
    height: 100vh;
    display: flex;
    justify-content: top;
    align-items: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
h1,p{
    margin: 5px;
}
.container{
    color: rgb(57, 57, 57);
    padding: 15px 10px 10px 100px;
    background-color:rgb(233, 236, 239);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

img{
    background-color: rgb(107, 154, 195);
    padding: 1px;
    border-radius: 5px;
}

a{
     
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
}